extends ../../layouts/default.pug

block style 
  link(rel="stylesheet", href="/client/css/checkout-print-request-index.css")

block main  
  .container 
    .row 
      .col-12 
        h2.my-4 Thanh toán 
    .row 
      .col-12 
        .inner-wrap-print-request 
          .inner-left
            .inner-filename 
              | In đồ án tốt nghiệp 
            .inner-fileimage 
              img(src="", alt="")
            .inner-note   
              | Thời gian dự kiến: 24 giờ
          .inner-right
            .print_info
              .inner-info-section 
                h6 Sản phẩm - DATN2024 
                .inner-item 
                  span Loại in:
                  case print_info.printtype
                    when 'blackwhite'
                      span In trắng đen
                    when 'colored'
                      span In màu 
                .inner-item 
                  span Tên file:
                  span Đồ án tốt nghiệp 
                .inner-item 
                  span Số tờ: 
                  span= print_info.pagenum
                .inner-item 
                  span Mặt giấy:
                  case print_info.side
                    when 'front'
                      span Mặt trước
                    when 'back'
                      span Mặt sau
                    when 'both'
                      span 2 mặt
                .inner-item 
                  span Khổ giấy
                  span= print_info.size
                .inner-item 
                  span Số lượng bản in
                  span= print_info.copy
                .inner-item 
                  span Máy in
                  span Số 3 - Máy photocopy Ricoh MP 6002
              .inner-checkout-section
                .page_cost
                  .inner-item 
                    span Giá 1 tờ A4: 
                    span= page_cost 
                    <sup>đ</sup>
                .num_page  
                  .inner-item 
                    span Số tờ A4:
                    span= num_page  
                  //- .inner-item 
                  //-   span Bìa:
                  //-   span 5,000<sup>đ</sup>
                .inner-total-price-section
                  .cost
                    .inner-item 
                      span Tổng tiền: 
                      span= cost
                      <sup>đ</sup>
              .inner-checkout-button 
                button(
                  type="submit"
                  class="btn"
                ) Thanh toán