header.header 
  .container-fluid
    .row 
      .col-12 
        .header-wrap-1
          .header-logo  
            img(src="/client/images/logo.png" alt="")
          .header-action 
            .header-login 
              span Đăng nhập|Đăng ký 
            .vertical-divider 
            .header-cart
              span Giỏ hàng
    .row 
      .col-12
        .header-wrap-2 
          ul.header-menu  
            li 
              a(href="/") Trang chủ
            li 
              a(href="/product") Tất cả sản phẩm
            li 
              a(href="/about") Giới thiệu
            li 
              a(href="/user/log-order") Lịch sử đơn hàng
            li 
              a(href="/print") In ấn
          .header-box-search 
            form(action="#") 
              .form-group.box-search
                input(
                  type="text",
                  placeholder="Tìm kiếm sản phẩm",
                  class="form-control input-search"
                )
                button(
                  type="submit"
                  class="button-search"
                )
                  img(src="/client/images/search-icon.svg" alt="")
                
