extends ../../layouts/default.pug

block style 
  link(rel="stylesheet", href="/client/css/print-buy-paper.css")

block main 
  .container 
    .row  
      .col-12 
        h2 Mua giấy 
    
    .row 
      .col-12 
        .inner-wrap 
          .inner-above
            .inner-image 
              img(src="https://s3-alpha-sig.figma.com/img/7d9e/a93e/1063c2c30814b56c0fdafdeb22f07054?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oAcdYagntZhLZEO04DaAwr62LbZxx1-oFNcRYTlhSRIoLSpNK-QYKYfZO9EjpjsfpZERF2efPJpJM~cbQWkIDSzI2MQ64AxI-zm1Al2f16oAdr7qEbynejXoz7O3sFC0NK2MMay3nwZogEFZ8YEpVH8h9A3~W50Ghx9tQRWDh-SbR~XSbu6NqTZrmcNj-o75700FeICTh4IJ7FC90g2baawajp6dPNzTmMj14yLjNjoD~TfISIrWfBgvinq9OxjSHDJ91Q1GgocgGdanzY~aZi9E9hCRcrlwHmwczQuunbSxknc33dklARJ9Y6pKvqw6hPmVUZeSeGWBVo3xpcORdA__" alt="")
              h5 Chi phí: <span>1,000đ/tờ</span>
            .inner-content 
              h5 Giấy A4 IK Plus 70 gsm 
              .inner-quantity 
                .inner-item 
                  span Mua lẻ (1 tờ) 
                  .inner-counter 
                    button(type="button" class="minus1")
                      <svg width="24" height="4" viewBox="0 0 24 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2H22" stroke="#C22026" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                    .inner-number1 0
                    button(type="button" class="plus1") 
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22L12 2" stroke="#C22026" stroke-width="4" stroke-linecap="round"/>
                        <path d="M2 12H22" stroke="#C22026" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                .inner-item 
                  span Mua 1 bịch (5 tờ)
                  .inner-counter 
                    button(type="button" class="minus2")
                      <svg width="24" height="4" viewBox="0 0 24 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2H22" stroke="#C22026" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                    .inner-number2 0
                    button(type="button" class="plus2") 
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22L12 2" stroke="#C22026" stroke-width="4" stroke-linecap="round"/>
                        <path d="M2 12H22" stroke="#C22026" stroke-width="4" stroke-linecap="round"/>
                      </svg>
              h5 Tổng: <span>0,000đ</span>   
                    

          .inner-below
            h5 Vui lòng chọn phương thức thanh toán 
            .inner-list 
              .form-check
                input(
                  type="radio"
                  class="form-check-input"
                  name="purchase"
                  id="momo"
                )
                label(for="momo")
                  img(src="https://s3-alpha-sig.figma.com/img/727b/391b/7dd9f17992ad1b2acbafa5f2521ca4fc?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IxX7lWjuaHaQDpjZExkw2l2lqsdqljP7KhVGYovzffDsR2Giq-aBNjj-1B~24r1MR1Ehx57Bo7jPRSgCX-8lKkAtYfTvByQXRQPEoR9LA2PcrvjDqS80v8P2-098FODqRdPfiAhUdDGbQ4xyY6uT~Cy7HynywDsZiyMnrKDtYXOWqNBxiHEHpJlMAhH7Jnuz32uxOo5LJXH-ffm88Tmyo-DtlnPc7ZfMhU6HlowNDKZuvM6xFeh8VZWisEBe9D525uDlN4hztvVvr0jeMHLJ~mUsiTtvXpFgPdbUpFeoU-viO8FDY~~tBeYq49ohHNBRyFxUiSxkjaMeSKJscWwM8Q__" alt="")
              .form-check 
                input(
                  type="radio"
                  class="form-check-input"
                  name="purchase"
                  id="bkpay"
                )
                label(for="bkpay")
                  img(src="https://s3-alpha-sig.figma.com/img/2ea0/e7bf/51bc2f201b0c6e4d78966b3b25d735a5?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=A1m7sZC97pyxucQ4zUsmjYyx0CPxWQXIjCLkiv56aStGTK7To-~J8uUX8vyOrXZ93dxgJaDsjaomKMd9FuMtbMzF-Nbp1VEiCcJELFbEMpPOC1qveazaVmtXwnjSdoXY5FBLmkWHjs72mS-YhJ7JfyRrH8VhRt15G9-JgvTyWPOrBLR7fjEnyilnAXvBEHdoBBzlJvmJ1LkrSi5icZSDnGmCd6NmgdEee88pdYB6IwlYsISROgugK~GsXf-RyjvtH39gMJO77VUOpVDOzdKrLET3TmJtot-xhaShrO5aupLiSWPR~9j0oEojwC5kyANHykZLtpdzxKsn2cANwZhP3Q__" alt="")
              .form-check 
                input(
                  type="radio"
                  class="form-check-input"
                  name="purchase"
                  id="vnpay"
                )
                label(for="vnpay")
                  img(src="https://s3-alpha-sig.figma.com/img/6bac/6587/0465e2ad6f58bce969f493d2f8f59cab?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HjKXFf7jx-H0Y8nrbWjuBzhmKyKWpulsnmoQCR5gJwtI115zzPF0nOXAWdicnC~WgySnq2qJ7sG3Y8K7vzXfyUD3g5eKuvuhR8KANT4OrwX1yOy8MkAM3puVvpWcDMgkfDlzGsdcVp6~mkJZhDa5hU6Td9RSzwWT0EbXWUkZpZpKlkwUKnYvKmVTP8jSrf0D9paFFBgoelAY7UpISVwFwxfI9Grm1RP-UfSG3XTsvgZgUF58Vb1W3nZX3kKuLr5o7QAPJSy45-CaQyEVtkHtaTJK6vEvDLUs4ivq~RutOCas9TkPm3Kj~uUowmWgFiVo7oHxjg04Hnp1QLCGsdX3Yg__" alt="")
            .form-check 
              input(
                type="checkbox"
                class="form-check-input"
                name="agree"
                id="agree"
              )
              label(for="agree") Tôi đã đọc và đồng ý với <b>Điều khoản & Điều kiện</b>
            button(type = "button" class="confirm-button") Xác nhận đơn hàng
        
  block script
    script(src="/client/js/print-buy-paper.js")




