extends ../../layouts/default-user.pug

block style 
  link(rel="stylesheet", href="/client/css/user-log-order.css")

block main  
  h1.inner-title.mb-4.mx-2 #{pageTitle}

  .container-fluid 
    .row 
      .col-12 
        .inner-actions 
          .dropdown 
            button(
              data-bs-toggle="dropdown"
              class="btn filter-button"
              type="button"
            ) 
              div Tất cả 
              img(src="/client/images/dropdown-arrow-down.svg" alt="")
          button(
            type="button"
            class="btn button"
          ) Chờ thanh toán
          button(
            type="button"
            class="btn button"
          ) Vận chuyển
          .inner-search.btn 
            img(src="/client/images/user-search-icon.svg" alt="")
            input(
              type="text"
              placeholder="Tìm kiếm đơn hàng"
            )