extends ../../layouts/default.pug
include ../../mixins/alert.pug

block style 
  link(rel="stylesheet", href="/admin/css/printer-create.css")

block main 
  +alert-success(5000)
  +alert-error(5000)

  .container-fluid 
    .row.my-4  
      .col-12
        h2 Thêm máy in

    form(
      method="POST"
      action=`${prefixAdmin}/printer/create`
      enctype="multipart/form-data"
    )
      .row
        .col-6
          div(class="form-group mb-3")
            label(for="name") Tên máy in
            input(
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            )
          div(class="form-group mb-3")
            label(for="description") Mô tả
            textarea(
              type="text"
              class="form-control"
              id="description"
              name="description"
              rows="5"
              required
            )
        .col-6
          div(class="form-group mb-3" upload-image)
            label(for="thumbnail") Ảnh sản phẩm
            input(
              type="file"
              class="form-control-file form-control"
              id="thumbnail"
              name="thumbnail"
              accept="image/*"
              upload-image-input 
              placeholder="Vui lòng thêm hình ảnh"
              required
            )
            img(
              src=""
              upload-image-preview
              class="image-preview"
            )
          div(class="form-group mb-3")
            label(for="status") Trạng thái
            .inner-wrap-check
              .form-group-item
                input(
                  type="radio"
                  class="btn-check"
                  id="standby"
                  value="standby"
                  name="status"
                  checked
                  required
                ) 
                label(for="standby" class="btn btn-danger inner-button") Đang trống
              .form-group-item
                input(
                  type="radio"
                  class="btn-check"
                  id="using"
                  value="using"
                  name="status"
                  required
                ) 
                label(for="using" class="btn btn-danger inner-button") Đang sử dụng
          div(class="form-group")
            label(for="power") Hoạt động
            .inner-wrap-check
              .form-group-item
                input(
                  type="radio"
                  class="btn-check"
                  id="on"
                  value="on"
                  name="power"
                  checked
                  required
                ) 
                label(for="on" class="btn btn-danger inner-button") ON
              .form-group-item
                input(
                  type="radio"
                  class="btn-check"
                  id="off"
                  value="off"
                  name="power"
                  required
                ) 
                label(for="off" class="btn btn-danger inner-button") OFF
          div(class="form-group d-flex justify-content-center")
            button(
              type="submit"
              class="btn button-add"
            ) Thêm


