extends ../../layouts/default.pug
include ../../mixins/alert.pug

block style 
  link(rel="stylesheet", href="/admin/css/printer-index.css")

block main 
  +alert-success(5000)
  +alert-error(5000)

  .container-fluid 
    .row.my-5
      .col-12 
        .inner-statistics
          .inner-item 
            .inner-number #{printers.length}
            .inner-desc Máy
          .inner-item 
            .inner-number #{countStandby}
            .inner-desc Trống
          .inner-item 
            .inner-number #{countOn}
            .inner-desc Bật
          .inner-item 
            .inner-number #{countUsing}
            .inner-desc Đang sử dụng

    .row.my-3 
      .col-12 
        .inner-actions   
          .inner-filters 
            .inner-filter 
              span Tất cả
              img(src="/admin/images/printer-arrow-both.svg" alt="")
            .inner-filter 
              span Tình trạng
              img(src="/admin/images/printer-arrow-down.svg" alt="")
            .inner-filter 
              span Dòng máy
              img(src="/admin/images/printer-arrow-down.svg" alt="")
          a(
            class="inner-button"
            href=`${prefixAdmin}/printer/create`
          )
            img(src="/admin/images/printer-add-icon.svg" alt="")
            | Thêm

    .row.my-5
      .col-12 
        table.table.table-hover.align-middle.table-bordered
          thead   
            tr.text-center
              th.col-1 STT
              th.col-3 Sản phẩm
              th.col-4 Mô tả
              th.col-3 Tình trạng
              th.col-2 Hoạt động
              th.col-2 Ghi chú
          tbody 
            each printer, index in printers
              tr
                td.text-center #{index + 1}
                td.inner-product 
                  .inner-image  
                    img(src=printer.thumbnail alt="")
                  .inner-name 
                    b #{printer.name}
                td #{printer.description}
                td
                  .inner-status #{printer.status == "standby" ? "Đang trống" : "Đang sử dụng"}
                td 
                  .inner-power
                    .inner-power-list 
                      .inner-power-item
                        input(
                          type="radio"
                          class="btn-check"
                          id=("on" + index)
                          name=("power"+index)
                          checked=(printer.power == "on" ? true : false)
                          readonly
                        ) 
                        label(for="on" class="btn btn-danger inner-button") ON
                      .inner-power-item
                        input(
                          type="radio"
                          class="btn-check"
                          id=("off" + index)
                          name=("power"+index)
                          checked=(printer.power == "off" ? true : false)
                          readonly
                        ) 
                        label(for="off" class="btn btn-danger inner-button") OFF
                td
                  .inner-note
                    a(href=`${prefixAdmin}/printer/edit/${printer._id}`)
                      img(src="/admin/images/printer-note-icon-1.svg" alt="")
                    form(
                      method="POST"
                      action=`${prefixAdmin}/printer/delete/${printer._id}`
                    )
                      button(type="submit" class="btn p-0")
                        img(src="/admin/images/printer-note-icon-2.svg" alt="")
          
          

    .row.my-3.justify-content-center.text-center
      .col-5.d-flex.justify-content-center 
        ul.pagination.gap-3
          li.page-item
            a.page-link(href="#")
              span 
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M15 18L9 12L15 6" stroke="#747474" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
          li.page-item.active.page-number
            a.page-link(href=`${prefixAdmin}/printer?page=1`) 1
          li.page-item.page-number 
            a.page-link(href=`${prefixAdmin}/printer?page=2`) 2
          li.page-item.page-number 
            a.page-link(href=`${prefixAdmin}/printer?page=3`) 3
          li.page-item
            a.page-link(href="#")
              span
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9 18L15 12L9 6" stroke="#747474" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")





